
.form_program_create  {text-align:right;}
.container { padding-top:50px;}

.list_th_right { text-align:right; }


@media (max-width: 543px) { 
.form_program_create { font-size:10px;}
}


@media (min-width: 544px) and (max-width: 767px) { }

